<form #travelForm="ngForm" (ngSubmit)="onSubmit(travelForm)">

  <!--TODO: Origination Airport-->
  <div class="form-group">
      <label>Origination Airport</label>
      <select class="form-control" name="originationAirport" id="originationAirport" [(ngModel)]=model.originationAirport >
        <option value="">SELECT AIRPORT</option>
        <option *ngFor="let airport of Airports" [value]="airport">
          {{airport}}
        </option>
      </select>
  </div>

    <!--TODO: Destination Airport-->
  <div class="form group">
    <label>Destination Airport</label>
    <select class="form-control" name="destinationAirport" id="destinationAirport" [(ngModel)]=model.destinationAirport>
      <option value="">SELECT AIRPORT</option>
      <option *ngFor="let airport of Airports" [value]="airport">
        {{airport}}
      </option>
    </select>
  </div>

   <!--TODO: Departure Date-->
  <div class="form group">
        <label>Select departure date</label>
        <input type="date", id="departureDate" name="departureDate" min="2020-10-20" [(ngModel)]=model.departureDate>
  </div>

     <!--TODO: Return Date-->
     <div class="form group">
      <label>Select departure date</label>
      <input type="date", id="returnDate", name="returnDate", min="2020-10-20" [(ngModel)]=model.returnDate>
  </div>

  <!--TODO: Number of Travelers-->
  <div class="form group">
    <label>Select the number of travelers</label>
    <input type="number", id="numOfTravelers", name="numOfTravelers", min="1", max="20" [(ngModel)]=model.numOfTravelers>
  </div>


  <div class="form group">
    <button class="btn btn-primary btn-block">Submit</button>
  </div>
    </form>
