<form #travelForm="ngForm" (ngSubmit)="onSubmit(travelForm)">

  <div class="form-row">
    <div class="form-group col-md-4 mb-3">
      <label>Origination Airport</label>
      <select class="form-control" name="originationAirport" [(ngModel)]="model.originationAirport">
        <option value="">[select airport]</option>
        <option *ngFor="let airport of Airports" [value]="airport">
          {{airport}}
        </option>
      </select>
    </div>

    <div class="form-group col-md-4 mb-3">
      <label>Destination Airport</label>
      <select class="form-control" name="destinationAirPort" [(ngModel)]="model.destinationAirport">
        <option calue="">[select airport]</option>
        <option *ngFor="let airport of Airports" [value]="airport">
          {{airport}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 mb-3">
      <label>Departure Date</label>
      <input type="date" class="form-control" name="departureDate" [(ngModel)]="model.departureDate">
    </div>

    <div class="form-group col-md-4 mb-3">
      <label>Return Date</label>
      <input type="date" class="form-control" name="returnDate" [(ngModel)]="model.returnDate">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 mb-3">
      <label>Number of travelers</label>
      <input type="number" id="numOfTravelers" min="1" max="20" [(ngModel)]="model.numOfTravelers">
    </div>

    <div class="form-group col-md-4 mb-3">
      <button class="btn btn-primary btn-block">Submit</button>
    </div>
  </div>

</form>
